body {
  height: 0px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  border-radius: 0px 0px 20px 20px;
  font-family: "ubunto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: ubunto;
  src: url("./fonts/UbuntuMono-Regular.ttf");
}

