@font-face {
  font-family: ubunto;
  src: url("./fonts/UbuntuMono-Regular.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-group {
  padding: 10px;
}

.loginform {
  position: relative;
  top: 200px;
  left: 20px;
}

.signupform {
  position: relative;
  top: 200px;
  left: 20px;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.title {
  font-family: "ubunto";
  color: rgba(250, 235, 215, 0.858);
  padding-left: 10px;
}

@media screen and (max-width: 575px) {
  .title {
    top: 4px;
    position: fixed;
    left: 125px;
    font-size: 35px;
  }
}

* {
  box-sizing: border-box;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.outer .form-control:focus {
  border-color: #ee1e1e;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.jobsForm {
  display: flex;
  justify-content: center;
}

.forgot-password,
.forgot-password a {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  /* color: #7f7d7d; */
  margin: 0;
}

.login1.nav-link {
  position: fixed;
  right: 80px;
  top: 16px;
  color: rgba(250, 235, 215, 0.858);
}

.signup1.nav-link {
  position: fixed;
  right: 5px;
  top: 16px;
  color: rgba(250, 235, 215, 0.858);
}

.signup1.nav-link:hover {
  color: yellow;
}
.login1.nav-link:hover {
  color: yellow;
}


.jobForm {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.map-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.nav-align {
  display: flex;
  flex-direction: row;
}

.profileForm {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.map-info {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.your-location {
  background-color: blue;
}

.badge1{
  position: fixed;
  top: 18px;
  font-weight: 100px;
  }

body {
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #eb9335,
    #ceed07
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f64f59,
    #eb9335,
    #ceed07
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body,
html,
.App,
#root,
.outer {
  width: 100%;
  height: 100%;
}

.bookingForm {
  padding-top: 70px;
  padding-bottom: 20px;
}

.logintitle {
  text-align: center;
}

.badge.badge-light{
  color: yellow;
}



.logout {
  color: rgba(250, 235, 215, 0.858);
}

.form-control {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 575px) {
  .login2.nav-link {
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .signup2.nav-link {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .login1.nav-link {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .signup1.nav-link {
    display: none;
  }
}

